@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Manrope;
      font-weight: 400;
      src: url(/fonts/Manrope/static/Manrope-Regular.ttf);
    }
    @font-face {
      font-family: Manrope;
      font-weight: 800;
      src: url(/fonts/Manrope/static/Manrope-ExtraBold.ttf);
    }
} 

@media screen and (min-width:769px) {
    .pec-menu-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
    }
    .explore-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .explore-grid div{
        width: 100%;
    }
    .taxonomy-body h2 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 27px;
        color: #003300;
    }
    h2 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 33px;
        color: #003300;
    }
    h3 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        color: #003300;
    }
    h4 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 19px;
        color: #003300;
    }
}
@media screen and (max-width:768px) {
    .explore-grid {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .explore-grid::-webkit-scrollbar {
        display: none;
    }
    .explore-grid div{
        min-width: 300px;
    }
    /* .swiper-slide { width: 80%!important } */
    h2 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size:  22px;
        color: #003300;
    }
    h3 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        color: #003300;
    }
    h4 {
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        color: #003300;
    }
}
.body {
    margin: 0;
}
p,div {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
.menu-item-selected {
    @apply bg-white text-primary !important;
} 

.map-detail-tab .active {
    border-bottom: 3px solid #72A747;
    font-weight: bold;
    color: #003300;
}
.leaflet-pane.leaflet-marker-pane img {
    border-radius: 50%;
}
.explore-grid-item-overlay:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.2;
    border-radius: 0.75rem;
}

.taxonomyLeafletMap .leaflet-popup-close-button {
    display: none;
}
.taxonomyLeafletMap .leaflet-popup  {
    bottom: -44px!important;
}